* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("img/mapa.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-maior {
    background-color: #000000f2;
    width: 450px;
    border-radius: 25px;
    padding: 20px;
    resize: none;
}

.input-text {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
}

.idioma {
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    color: #ffffff;
    background-color: #ffffff1a;

}

button {
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
}

.controle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultado {
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
}

.titulo-traducao {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffffff99;
}

.traducao {
    color: #ffffff;
    font-size: 18px;

}